extends layout

block content
  div.row
    div.inner-container.col-xs-24
      h2 UPCOMING EVENTS
      div.match-container(ng-controller="MatchController")        
        table.table.bordered
          thead
            tr.match-list-header-row.grid-header
              th=today
              th Home
              th Draw
              th Away
            tr(ng-class-odd="'odd'" ng-class-even="'even'", ng-repeat="match in matches | orderBy : sorter")       
              td
                i {{match.datetime | date: 'HH:mm'}}
                span {{match.home}} vs {{match.away}}
              td(ng-click="addToCoupon(match, betTypes.homeWins)") {{match.home}} wins
              td(ng-click="addToCoupon(match, betTypes.draw)") tie
              td(ng-click="addToCoupon(match, betTypes.awayWins)") {{match.away}} wins