extends layout

block content  
  div.match-container(ng-controller="MatchController")
    div.panel.panel-primary.panel-match-group(ng-repeat="competition in competitions")
      div.panel-heading {{competition.name}}
      table.table.bordered
        thead
          tr.match-list-header-row.grid-header
            th(colspan=3)=today
            th 1
            th X
            th 2
            th
          tr(ng-class-odd="'odd'" ng-class-even="'even'", ng-repeat="match in competition.matches | orderBy : sorter")
            td{{match.datetime | date: 'HH:mm'}}
            td{{match.code}}
            td.match-info
              span {{match.home}} - {{match.away}}
            td(ng-click="addToCoupon(match, betTypes.homeWins)") 1.40
            td(ng-click="addToCoupon(match, betTypes.draw)") 2.70
            td(ng-click="addToCoupon(match, betTypes.awayWins)") 3.20
            td(ng-click="addToCoupon(match, betTypes.awayWins)")
              span.glyphicon.glyphicon-plus(aria-hidden="true")