extends layout

block content
  div.row
    div.inner-container.col-xs-24
      div.match-container(ng-controller="MatchController")        
        table.table.bordered
          thead
            tr.match-list-header-row.grid-header
              th(colspan=3)=today
              th(colspan=3) Mac Sonucu
            tr(ng-class-odd="'odd'" ng-class-even="'even'", ng-repeat="match in matches | orderBy : sorter")       
              td.min-width {{match.datetime | date: 'HH:mm'}}
              td.min-width {{match.code}}
              td
                span {{match.home}} - {{match.away}}
              td(ng-click="addToCoupon(match, betTypes.homeWins)") 1
              td(ng-click="addToCoupon(match, betTypes.draw)") X
              td(ng-click="addToCoupon(match, betTypes.awayWins)") 2