extends layout

block content
  table.table(ng-controller="MatchesController")
    tr
      th.first Match
      th odeon
      th iddia
      th bestbet
      th cmon
    tr(ng-repeat="match in matches")
      td.first {{match.home}}-{{match.away}}
      td
      td
      td
      td
