doctype html
html(ng-app="BestBet")
  head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title= title
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bestbet.min.css')
  script(src='/javascripts/lib/angular.min.js')    
  script(src='/javascripts/release/controllers.min.js')
  script(src='/javascripts/release/services.min.js')
  script(src='/javascripts/lib/enums.js')
  script(src='/javascripts/app.js')      
  body(ng-controller="MainController")
    header          
      #main-nav.nav
        ul
          li
          li            
      #nav-level-2
        ul
          li
            LOGO
          li Maclar
          li
            a.menu
            span.search 
    section.content
      div.inner-container
        block content    
    footer.site-footer
      #footer-top
        .footer-wrapper
          span.footer-copyright © Copyright 2010 - 2015 Best Bet
          span.footer-nav        
      #footer-bottom
         .footer-wrapper
            span.footer-avertissement