doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/require.js', data-main='javascripts/main')    
  body
    block content