.list-group.header-row li
{
	background-color : #f7f7f7;
	color : #000;
}


.grid-header
{
	background-image: linear-gradient(to bottom, #dcdada 0%, #efefef 51%, #dcdada 100%);
}

tr.even
{
	background : #fff8f7; 
}