html, body{
	height: 100%;
	overflow: hidden;
}

body {
	color: #000;	
	display: flex;
	flex-direction: column-reverse;
	font-size: 11px;
}

header {
	background-color: @black-1;
	flex-shrink: 1;
}

section.content
{
	flex-grow: 1;
}

footer
{
	flex-shrink: 1;
}
