html, body{
	height: 100%;
	overflow: hidden;
}

body {
	color: #000;	
	display: flex;
	flex-direction: column;
	font-size: 11px;
}

header {
	background-color: @black-1;
	height: 100px;
	flex : none;
}

section.content
{
	flex: 1;
	overflow: auto;
}

footer
{
	flex : none;
}
