
#nav-level-1, #main-nav
{
	ul{	
		height: 46px;
		background-color: @black-2;	
		display: flex;
		align-items: center;
		padding: 0 14px;
		li
		{
			margin: auto;
			color: #c3aaa8;
			font-size: @medium-title;
		}
		li:first-child
		{
			width: 100px;			
			margin: 0 auto 0 0;
			.arrow
			{
				height: 22px;
				width: 53px;
				display: inline-block;
				background-image: url('/images/arrow.png');
				background-position: 0 0;
				background-repeat: no-repeat;
				background-color: transparent;
				background-size:  75%;
			}			
		};
		li:last-child{						
			width: 100px;
			margin: 0 0 0 auto;
			.search
			{
				display: inline-block;
				float: right;
				height: 27px;
				width: 43px;
				background-size:  75%;
				background-repeat: no-repeat;
				background-image: url('/images/search.png');
			}
			.menu{
				background-image: url('/images/m-menu-2.png');
				background-position: top right;
				background-repeat: no-repeat;
				background-color: transparent;
				height: 29px;
				width: 42px;				
				background-size:  75%;
				display: inline-block;
				float: right;
			}
		}
	}
}

@media screen and (min-width: @lg-screen-width){
	#nav-level-2
	{
		width: @lg-screen-width;
		margin: 0 auto;
	}	
}

#nav-level-2
{
	padding: 0 0 0 0;
	background-color: @bg-color-blue-3;
}

.scroll-section
{
	.scroll-container
	{
		padding: 10px 0;		
		width: 200px;
		margin: auto;
		.scrollbar
		{
			height: 5px;
			position: relative;
			background-color: #fff;
			overflow: visible;

			.handle
			{
				cursor: pointer;
				height: 7px;
				background-color: #000;
				width: 14px;
				/*transition: left 0.2s;*/
				position: absolute;
				left: 0;			
				top: -1px;
			}
		}
	}
}


#frame
{
	position: relative;
	width : 320px;	
	height: 80px;
	margin: 0 auto;
	overflow: hidden;

	#main-menu 
	{
		position: absolute;
		height: 80px;
		/*transition: transform 1s;	*/
		width: 1000px;
		li 
		{	
			height: 80px;
			width: 80px;
			float: left;
			background : @bg-color-blue-1;
			border: solid 1px @bg-color-grey-1; 

			a 
			{
				color: #fff;
			}
		}

	    li:nth-child(n+1)
	    {
			top: 0;
	     	left: 0;
	     	background-color: yellow;
	    }

	    li:nth-child(n+2)
	    {
			top: 0;
	     	left: 100px;
	     	background-color: #53f3f3;
	    }
	    li:nth-child(n+3)
	    {
			top: 0;
	     	left: 200px;
	     	background-color: #fdfefe;
	    }
	    li:nth-child(n+4)
	    {
			top: 0;
	     	left: 300px;
	     	background-color: #d99343;
	    }
	    li:nth-child(n+5)
	    {
			top: 0;
	     	left: 400px;
	     	background-color: #666fff;
	    }
	    li:nth-child(n+6)
	    {
			top: 0;
	     	left: 500px;
	     	background-color: #230343;
	    }
	    li:nth-child(n+7)
	    {
			top: 0;
	     	left: 600px;
	     	background-color: #443343;
	    }        
	    li:nth-child(n+8)
	    {
			top: 0;
	     	left: 700px;
	     	background-color: #443ff3;
	    }
	}

}

#scroller
{
	height: 5px;
	background-color: @bg-color-blue-2;
	display: flex;
	flex: 1;
}
