body {
	color: #000;	
	font-size: 11px;
}

h1 {
  font-size: @big-title;
  font-weight : bold;
  padding: 0 0 4px 0;
}

h2 {
  font-size: @medium-title;  
  padding: 0 0 4px 7px;
  margin: 0;
  height: 2em;
  line-height: 2em; 
  border: .0833em solid @bg-color-blue-5;
  background-color: @bg-color-grey-5;
  color: @bg-color-blue-1;
}

h3
{
	margin: 0;
	font-size: @small-title;
	padding: 0 0 4px 7px;
	height: 2em;
	line-height: 2em;
	border: .0833em solid @bg-color-blue-5;
	background-color: @bg-color-grey-5;
	color: @bg-color-blue-1;
}

ul {
	padding: 0;
	margin: 0;
}

li
{
	list-style: none;
}

.no-padding
{
	padding: @no-padding;
	margin: @no-padding;
}

.block
{
	display: block;
}

.min-width{
	width: 1%;
}

.min-height{
	height: 1%;
}

header {
	background-color: #0A4766;
}
#nav-level-2, #main-nav
{
	ul{	
		height: 56px;
		background-color: #002224;	
		display: flex;
		align-items: center;
		padding: 0 28px;
		li
		{
			margin: auto;
			color: #c3aaa8;
			font-size: @medium-title;
		}
		li:first-child
		{
			width: 100px;			
			margin: 0 auto 0 0;
			.arrow
			{
				height: 22px;
				width: 53px;
				display: inline-block;
				background-image: url('/images/arrow.png');
				background-position: 0 0;
				background-repeat: no-repeat;
				background-color: transparent;
			}			
		};
		li:last-child{			
			width: 100px;
			margin: 0 0 0 auto;
			.menu{
				background-image: url('/images/m-menu-2.png');
				background-position: top right;
				background-repeat: no-repeat;
				background-color: transparent;
				height: 29px;
				width: 42px;				
				display: inline-block;
				float: right;
			}
		}
	}
}

#main-nav 
{
	ul
	{
		background-color: #000000;
		height: 80px;
		li:last-child
		{
			.search
			{
				display: inline-block;
				float: right;
				height: 27px;
				width: 43px;
				background-image: url('/images/search.png');
			}			
		};
	}	
}

#footer
{
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer-top
{
	background: @bg-color-blue-3;
	height: 45px;
}

#footer-bottom
{
	background: @bg-color-blue-1;
	height: 60px;
}

.container 
{
	width: auto;
}

.inner-container
{
	padding-bottom: 13px; 	
}

.inner-container h2
{
	margin: 0 0 8px 0; 
}

.match-list
{

}

.match-list-header-row
{
	border-bottom : solid 1px #ccc;
}


.match-container td:nth-child(n+2)
{
	cursor: pointer;
}

.match-container td:nth-child(n+2):hover
{
	background-color: @bg-color-blue-1;
}

.match-container i
{
	font-size: 11px;
	margin: 0 21px 0 8px;	
	float: left;
}

.match-container span
{
	float: left;
}

.coupon-container
{
	padding: 0 4px 0 4px;
}

.coupon-list
{
	padding : @no-padding;
	border-bottom: solid 1px @bg-color-blue-5;
}

.coupon-container li, .coupon-container h3
{
	padding: @section-padding;
}

.coupon-list li
{	
	margin:  0 0 2px 0;
}

.coupon-list li i
{
	color: #a32a32;
}

.coupon-list li span
{
	text-transform: italic;
}

#competition-list
{

}

.competition-container h3, .competition-container li,
{
	padding: @section-padding;
} 

#competition-list li:last-child
{
	
}

#competition-list li
{
	border-bottom: solid 1px @bg-color-blue-5;
	line-height: 30px;
	height: 30px;
	padding:  0 0 0 7 px;
}

