

h1 {
  font-size: @big-title;
  font-weight : bold;
  padding: 0 0 4px 0;
}

h2 {
  font-size: @medium-title;  
  padding: 0 0 4px 7px;
  margin: 0;
  height: 2em;
  line-height: 2em; 
  border: .0833em solid @bg-color-blue-5;
  background-color: @bg-color-grey-5;
  color: @bg-color-blue-1;
}

h3
{
	margin: 0;
	font-size: @small-title;
	padding: 0 0 4px 7px;
	height: 2em;
	line-height: 2em;
	border: .0833em solid @bg-color-blue-5;
	background-color: @bg-color-grey-5;
	color: @bg-color-blue-1;
}

ul {
	padding: 0;
	margin: 0;
}

li
{
	list-style: none;
}

.no-padding
{
	padding: @no-padding;
	margin: @no-padding;
}

.block
{
	display: block;
}

.min-width{
	width: 1%;
}

.min-height{
	height: 1%;
}



.container 
{
	width: auto;
}

.inner-container
{
	padding-bottom: 13px; 	
}

.inner-container h2
{
	margin: 0 0 8px 0; 
}

.coupon-container
{
	padding: 0 4px 0 4px;
}

.coupon-list
{
	padding : @no-padding;
	border-bottom: solid 1px @bg-color-blue-5;
}

.coupon-container li, .coupon-container h3
{
	padding: @section-padding;
}

.coupon-list li
{	
	margin:  0 0 2px 0;
}

.coupon-list li i
{
	color: #a32a32;
}

.coupon-list li span
{
	text-transform: italic;
}

#competition-list
{

}

.competition-container h3, .competition-container li,
{
	padding: @section-padding;
} 

#competition-list li:last-child
{
	
}

#competition-list li
{
	border-bottom: solid 1px @bg-color-blue-5;
	line-height: 30px;
	height: 30px;
	padding:  0 0 0 7 px;
}